body {
    margin: 0;
}

.title-logo {
    padding: 15px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px rgb(239, 189, 235);
}

.header {
    background-color: rgb(182, 140, 184);
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.nav-bar-element {
    padding: 20px;
    margin: 5px 30px 5px 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.join-us-nav {
    padding: 10px;
    margin: 5px 30px 5px 30px;
    border-radius: 6px;
    background-color: rgb(10, 129, 209);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    /*background-color: teal;*/
    background-image: url(../../dribble_design/images/Space-Background-Image-1.jpg);
    background-size: 100%;
    background-position: center;
    height: 800px;
}

.intro-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    padding: 50px 50px 15px 25px;
    margin: 5px;
    text-shadow: 2px 2px rgb(10, 129, 209);
}

.body-text {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 25px;
    margin: 5px;
}

.join-us-body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: 10px;
    margin: 10px 10px 10px 30px;
    border-radius: 6px;
    background-color: rgb(10, 129, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    align-self: center;
}

.content-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 189, 235);
    width: 40%;
    height: 100%;
}